<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresos-Gastos:{{titulo}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/pico.css">
</head>

<body>

    <header>
        <div>
            <a href="/" class="miEstilo">Inicio</a> |
            <a href="/new" class="miEstilo2">Nuevo</a> |
        </div>

       <h1>Aplicación web Flask BCeroXVIII</h1>
    </header>

    <section class="container">
        {# esto es un comentario en jinja #}
        {% block pageBase %}

        {% endblock %}
    </section>

    <footer>
            &copy;2023 - todos los derechos reservados - rolando@email.com
    </footer>
        
   
</body>
</html>